* {
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url(../assets/img/background\ easy\ change.jpg);}




.titulo{padding-top: 10px;
        text-align: center;
        margin:0%;
        font-family: 'Rubik', sans-serif;
        }




.formulario{ 
              text-align: center;
              margin: 20px;
              padding: 10px;
              font-size: 18px;
              font-family: Arial, Helvetica, sans-serif;
               }

#uno { width: 50px;
       height: 15px;
       margin: 10px;
     }
#dos { width: 50px;
    height: 15px; ;
    }

#valor {margin: 10px;
    font-size: 15px;
    background: fixed;
    background-color: aliceblue;
     }

#cotizador { font-size: 15px;
             border-radius: 20%;
             background:fixed ;
             background-color:rgba(33, 146, 207, 0.916);
             font-family: 'Rubik', sans-serif;
             padding-bottom: 3px;
             text-decoration: none;
            
       }


            
