

* {
    margin: 0%;
    padding: 0%;
    
  }
 
 
.body{
    background: rgb(136,199,242);
    font-family: Arial, Helvetica, sans-serif;
    
  
    }



.titulo{
        padding: 10px;
        text-align: center;
        margin:0%;
        font-family: 'Rubik', sans-serif;
        }

  p {
            text-align: center;
        }
        
.parrafo3 {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-left: 25px;
}
        
.moneda{
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 0;
            
        }
        
        
        
 .taza-cambio-container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
 .cambio{
            color:darkgreen;
            font-size: 14px;
            padding: 0 10px;
            font-weight: 600;
        }
        


.calculadora {
           transform: scale(0.7);
           display: flex;
           flex-wrap:wrap;
           justify-content:end;
           align-items:end;
           padding: 10px;
           border: 1px solid #ccc;
           border-radius: 5px;
           background-color: #f7f7f7;
           width: 300px;
           
           box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
              }

                      
 .display {
       width: 100%;
       height: 50px;
       font-size: 2em;
       text-align: right;
       margin-bottom: 10px;
       padding-right: 10px;
       border: none;
       border-radius: 5px;
       box-shadow: inset 0px -2px 5px rgba(0,0,0,0.3);
            }

                              
    .button {
         font-size: 1.5em;
         width: 50px;
         height: 50px;
         margin: 5px;
         border: none;
         border-radius: 5px;
         box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
         cursor: pointer;
         background-color: #eee;
         color: #333;
             }
                              
     .operator {
         background-color: #f39c12;
         color: #fff;
              }
                       
   .clear {
         background-color: #e74c3c;
         color: #fff;
             }
                              
 .equal {
        background-color: #2ecc71;
        color: #fff;
                  }

 .loading {
      width: 100%;
      height: 100%;
      background-color: rgba(25, 25, 25, 0.5607843137);
      position: fixed;
      z-index: 500;
      display: flex;
      justify-content: center;
      align-items: center;
               }
                  
 .loading i {
      color:white;
      font-size: 64px;
      -webkit-animation-name: rotar;
                animation-name: rotar;
      -webkit-animation-duration: 6s;
                animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
             animation-iteration-count: infinite;
               }

               @-webkit-keyframes rotar {
                0% {
                  transform: rotateZ(0deg);
                }
                100% {
                  transform: rotateZ(360deg);
                }
              }
              
              @keyframes rotar {
                0% {
                  transform: rotateZ(0deg);
                }
                100% {
                  transform: rotateZ(360deg);
                }
              }




              .box {
                display: flex;
                justify-content: flex-start;
                text-align: left;
              }
              
              .textbox {
                margin: 10px;
                text-align: left;
              }

    .section{
      flex-direction:row;
      display: grid;
      align-items: center;
      justify-content: center;
    }